<!--Include header-->
<%- include('inc/_header2.ejs') %>

<div class="header-area">
    <p class="header-area-h">Hi <%=username%>!</p>
    <a href='/logout' class="header-area-logout-a">Logout</a>
</div>

<h1 class="secret-h-dash">Secret Page</h1>

<!--Include footer-->
<%- include('inc/_footer.ejs') %>