@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Roboto:wght@300&family=Source+Sans+Pro:wght@600;700&display=swap');

*{
    padding:0;
    margin: 0;
}

body{
    font-family: 'Comfortaa', cursive;
    background-image: linear-gradient(to right, #de6262 , #ffb88c);
}

.container{
    margin-top:100px;
}

.text-center{
    text-align: center;
}

.login-h{
    font-size: 45px;
}

.align-center{
    width:30%;
    margin-left:35%;
    margin-right:35%;
}

.logout-tag{
    width:30%;
    margin-left:35%;
    margin-right:35%;
    background:rgb(103, 199, 103);
    margin-top:20px;
    margin-bottom: 10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:4px;
    display:none;
}

.input-field{
    width:100%;
    padding:4px;
}

.up_pad{
    margin-top:25px;
}

.main_up{
    margin-top:20px;
}

.submit-btn{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top:70px;
    padding:8px;
    cursor: pointer;
    background-color: black;
    color:white;
    border:none;
    font-size:15px;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
}

.submit-btn:hover{
    transition: 0.5s ease;
    background-color: white;
    color:black;
    border:1px solid black
}

@media only screen and (max-width: 1000px) {
    .align-center,
    .logout-tag{
        width:40%;
        margin-left: 30%;
        margin-right: 30%;
    }
  }

@media only screen and (max-width: 825px) {
    .align-center,
    .logout-tag{
        width:60%;
        margin-left: 20%;
        margin-right: 20%;
    }
  }  

@media only screen and (max-width: 525px) {
    .align-center,
    .logout-tag{
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
    }
  }    
   