*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Comfortaa', cursive;
}

.err_banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:20%;
}

.err_a{
    text-decoration: none;
    color:black;
    font-size:20px;
}

.icon_space{
    margin:20px;
    background-color: rgb(128, 247, 81);
    padding:10px;
    border-radius: 4px;
}

@media only screen and (max-width: 1050px) {
    .err_banner{
        width:40%;
    }
}

@media only screen and (max-width: 780px) {
    .err_banner{
        width:50%;
    }
    .err_a{
        font-size: 15px;
    }
}

@media only screen and (max-width: 560px) {
    .err_banner{
        width:60%;
    }
}

@media only screen and (max-width: 420px) {
    .err_banner{
        width:70%;
    }
}

.header-area{
    display:inline-block;
    width:100%;
    background:rgb(122, 118, 118);
}

.header-area-h{
    display:inline-block;
    float:left;
    padding:20px;
    font-size:18px;
}

.header-area-logout-a{
    display:inline-block;
    float:right;
    padding:20px;
    color:#000;
    font-size:18px;
    font-weight: bolder;
}

.secret-h-dash{
    text-align:center;
    margin-top:60px;
    font-size:40px;
}